In [4]:
a = 2

In [2]:
a

2

In [5]:
%ls

A1_mosquito_data.csv  A3_mosquito_data.csv  B2_mosquito_data.csv       scripts/
A2_mosquito_data.csv  B1_mosquito_data.csv  'Mosquito Analysis.ipynb'

In [6]:
%cat A1_mosquito_data.csv

year,temperature,rainfall,mosquitos
2001,80,157,150
2002,85,252,217
2003,86,154,153
2004,87,159,158
2005,74,292,243
2006,75,283,237
2007,80,214,190
2008,85,197,181
2009,74,231,200
2010,74,207,184

In [7]:
import pandas as pd

In [8]:
pd.read_csv('A1_mosquito_data.csv')

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [9]:
data = pd.read_csv('A1_mosquito_data.csv')

In [10]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [23]:
weight_kg = 55

In [28]:
weight_lb = 2.2 * weight_kg

In [25]:
weight_lb

121.00000000000001

In [26]:
weight_kg = 66

In [29]:
weight_lb

145.20000000000002

In [30]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [31]:
type(data)

pandas.core.frame.DataFrame

In [32]:
data['year']

0    2001
1    2002
2    2003
3    2004
4    2005
5    2006
6    2007
7    2008
8    2009
9    2010
Name: year, dtype: int64

In [33]:
type(data['year'])

pandas.core.series.Series

In [35]:
data[['temperature', 'year']]

   temperature  year
0           80  2001
1           85  2002
2           86  2003
3           87  2004
4           74  2005
5           75  2006
6           80  2007
7           85  2008
8           74  2009
9           74  2010

In [36]:
data.keys()

Index(['year', 'temperature', 'rainfall', 'mosquitos'], dtype='object')

In [38]:
data[0:3]

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153

In [39]:
data[10:13]

Empty DataFrame
Columns: [year, temperature, rainfall, mosquitos]
Index: []

In [41]:
data[2:3]

   year  temperature  rainfall  mosquitos
2  2003           86       154        153

In [42]:
data.iloc[2]

year           2003
temperature      86
rainfall        154
mosquitos       153
Name: 2, dtype: int64

In [43]:
data[2]

KeyError: 2

In [50]:
data[2:3]['temperature', 'rainfall']

KeyError: ('temperature', 'rainfall')

In [59]:
data[(data['year'] > 2005) & (data['year'] < 2009)]

   year  temperature  rainfall  mosquitos
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181

In [61]:
data[(data['year'] > 2005)]

   year  temperature  rainfall  mosquitos
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [60]:
data['year'] > 2005

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
Name: year, dtype: bool

In [62]:
(data['year'] > 2005) & (data['year'] < 2009)

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8    False
9    False
Name: year, dtype: bool

In [64]:
pd.read_csv?

In [65]:
data.mean()

year           2005.5
temperature      80.0
rainfall        214.6
mosquitos       191.3
dtype: float64

In [66]:
data.max()

year           2010
temperature      87
rainfall        292
mosquitos       243
dtype: int64

In [67]:
data.describe()

             year  temperature    rainfall  mosquitos
count    10.00000    10.000000   10.000000   10.00000
mean   2005.50000    80.000000  214.600000  191.30000
std       3.02765     5.456902   50.317216   33.23335
min    2001.00000    74.000000  154.000000  150.00000
25%    2003.25000    74.250000  168.500000  163.75000
50%    2005.50000    80.000000  210.500000  187.00000
75%    2007.75000    85.000000  246.750000  212.75000
max    2010.00000    87.000000  292.000000  243.00000

In [69]:
data[data['year'] > 2005]['temperature'].mean()

77.599999999999994

### Obtain the standard deviation of mosquito count for years in which the rainfall was greater than 200.

$x^2 \frac{2}{3}$

Something something **bold**.