In [4]:
a = 2

In [2]:
a

2

In [5]:
%ls

A1_mosquito_data.csv  A3_mosquito_data.csv  B2_mosquito_data.csv       scripts/
A2_mosquito_data.csv  B1_mosquito_data.csv  'Mosquito Analysis.ipynb'

In [6]:
%cat A1_mosquito_data.csv

year,temperature,rainfall,mosquitos
2001,80,157,150
2002,85,252,217
2003,86,154,153
2004,87,159,158
2005,74,292,243
2006,75,283,237
2007,80,214,190
2008,85,197,181
2009,74,231,200
2010,74,207,184

In [7]:
import pandas as pd

In [8]:
pd.read_csv('A1_mosquito_data.csv')

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [9]:
data = pd.read_csv('A1_mosquito_data.csv')

In [10]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [23]:
weight_kg = 55

In [28]:
weight_lb = 2.2 * weight_kg

In [25]:
weight_lb

121.00000000000001

In [26]:
weight_kg = 66

In [29]:
weight_lb

145.20000000000002

In [30]:
data

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [31]:
type(data)

pandas.core.frame.DataFrame

In [32]:
data['year']

0    2001
1    2002
2    2003
3    2004
4    2005
5    2006
6    2007
7    2008
8    2009
9    2010
Name: year, dtype: int64

In [33]:
type(data['year'])

pandas.core.series.Series